@import './../../styles.scss';

.start-screen {
    @include dFlex();
    width: 100vw;
    height: 100vh;
    background-color: #404040;
}

img {
    max-width: 100vw;
    max-height: 100vw;
}

.start-label-box {
    position: absolute;
    left: 0;
    right: 0;
    @include dFlex();
    >img {
        margin-top: 400px;
        max-width: 40vw;
        height: auto;

        &:hover {
            filter: brightness(1.2);
            cursor: pointer;
        }
    }
}
