<div class="game-field">

    <div class="card-stack">
        <img *ngFor="let c of [1,2,3,4]; let i = index;" [ngStyle]="{'right.px': i * 4}"
            src="/assets/img/cards/card_cover.png">
        <img (click)="takeCard()" class="top-card" style="right: 25px;" src="/assets/img/cards/card_cover.png">
        <img (click)="takeCard()" *ngIf="pickCardAnimation" [class.pick-card]="pickCardAnimation"
            class="pickCardAnimation" style="right: 25px;" src="/assets/img/cards/spade_1.png">
    </div>

</div>